

.voting {
    width: 70px;
    font-size: 2em;
    color: #606060;
    display: flex;
    flex-direction: column;
    text-align: center;
  }


/* selection color */
::selection {
  color: rgb(255, 255, 255);
  background: rgb(30, 109, 70);
}

  