



.vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 40px;
}

.vote-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: flex-start;
  flex-wrap: wrap; */
}

.vote-button {
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s;
}

.vote-button:hover {
  color:#2c7e3e
}

.vote-count {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.vote-count span {
  font-size: 14px;
  font-weight: normal;
}



/* selection color */
::selection {
  color: rgb(255, 255, 255);
  background: rgb(30, 109, 70);
}

  /* mobile bottom navigation start*/
  .bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
  }

  .bottom-navbar .nav-link {
    padding: 1rem;
  }

  /* Media query to style the navigation on mobile screens */
  @media (max-width: 767.98px) {
    .bottom-navbar .navbar-nav {
      justify-content: center;
    }
  }

  /* mobile bottom navigation ends */

  /* share button starts */

  .editor-container {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 10px;
    height: 300px; /* Adjust the height to your desired size */
}

.editor-container {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px;
  height: 50vh;
  /* Set the height to 50% of the viewport height */
}

  /* share button ends */